.img{
    background-image: url( ../assets/imgs/bg-jelly-fish-para_outras_pags.png);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 675px;

}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login .container{
    margin-top: 100px;
    border: 3px solid black;
    width: 600px;
    height: 300px;
    margin-bottom: 50px;
    background-color: gainsboro;
    border-radius: 10px;
    display: flex;
}

.login .container .card-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login .container h2{
    color: salmon;
}

.login .container span{
    display: flex;
    margin-top: 8px;
    color: salmon;
}

.login .container input{   
    width: 400px;
    height: 30px;
    border-radius: 8px;
    border-color: #32b9cd;
    border-width: 3px;
    margin-top: 5px;
    text-align: center;
}

.login .container button{
    margin-top: 20px;
    width: 120px;
    height: 30px;
    background-color: red;
    color: white;
    border-radius: 5px;
}
